<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>智能化计算后台管理系统</title>
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/kendo.common-material.min.css" rel="stylesheet">
  <link href="css/kendo.material.min.css" rel="stylesheet">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/kendo.all.min.js"></script>
  <style>
    body {
      background: #ECF0F5;
      font-family: 微软雅黑;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col p-3 shadow bg-info text-center text-white" style="font-weight: bold; font-size: 22px; letter-spacing: 5px">
        智能化计算后台管理系统
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <button class="btn btn-primary w-100 shadow" onclick="showAddNewRuleModal()">添加新机型</button>
      </div>
      <div class="col-1 ml-auto">
        <form action="admin/logout" method="GET">
          <button class="btn btn-danger w-100 shadow">登出</button>
        </form>
      </div>

    </div>
    <div class="row">
      <div class="col-3">
        <div class="shadow" id="machineModelGrid"></div>
      </div>
      <div class="col-9">
        <div class="shadow" id="calculationRuleGrid"></div>
      </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow" style="font-size: 14px !important">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">新机型样本数据</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="machineModel">机型:</label>
              <input type="text" class="form-control" id="machineModel" onchange="checkExist(event.target.value)" placeholder="请输入机型...">
            </div>
            <div class="form-group">
              <label for="machineType">单双面:</label>
              <select class="form-control" name="machineType" id="machineType">
                <option value="1">单面机</option>
                <option value="2">双面机</option>
              </select>
            </div>
            <div class="form-group">
              <label for="needleQty">针数:</label>
              <div>
                <input class="w-100" id="needleQty">
              </div>
            </div>
            <div>
              <label for="gear">齿轮:</label>
              <div>
                <input class="w-100" id="gear">
              </div>
            </div>

            <div class="form-group">
              <label for="yarnLength">纱长:</label>
              <input type="number" class="form-control" id="yarnLength" placeholder="请输入纱长...">
            </div>

            <div class="form-group">
              <label for="degree">刻度盘数:</label>
              <input type="number" class="form-control" id="degree" placeholder="请输入刻度盘数...">
            </div>


            <!-- <div class="text-right">
                <button type="button" onclick="addNewRule()" class="btn btn-primary">提交</button>
              </div> -->
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-primary" onclick="addNewRule()">提交</button>
          </div>
        </div>
      </div>
    </div>

    <script>

      $(function () {

        $('#machineModelGrid').kendoGrid({
          height: '500px',
          sortable: true,
          filterable: true,
          selectable: true,
          columns: [
            {
              field: "machineModel",
              title: "机型"
            },
            {
              field: "machineType",
              title: "单双面"
            },
          ],
          dataSource: {
            autoSync: true,
            batch: false,
            transport: {
              read: getApiUrl() + '/list_machine_model'
            },
            schema: {
              data: 'data',
              parse: function (response) {
                response.data = response.data.map(item => {
                  if (item.machineType === 1) {
                    return { machineModel: item.machineModel, machineType: '单面机' }
                  } else if (item.machineType === 2) {
                    return { machineModel: item.machineModel, machineType: '双面机' }
                  } else {
                    return { machineModel: item.machineModel, machineType: item.machineType }
                  }
                })
                return response;
              }
            }
          },
          change: function (e) {
            var selectedRows = e.sender.select();
            var dataItem = e.sender.dataItem(selectedRows[0]);

            $('#calculationRuleGrid').data('kendoGrid').setDataSource(
              new kendo.data.DataSource({
                transport: {
                  read: {
                    url: getApiUrl() + '/list_rules_by_machine_model/' + dataItem.machineModel
                  },
                  update: {
                    url: getApiUrl() + '/update_coefficient',
                    method: 'POST',
                    contentType: 'application/json',
                    dataType: 'json'
                  },
                  parameterMap: function (data, type) {
                    if (type !== "read") {
                      return kendo.stringify(data);
                    }
                  }
                },
                schema: {
                  data: "data",
                  model: {
                    id: "_id",
                    fields: {
                      _id: { editable: false },
                      needleQty: { editable: false },
                      gear: { editable: false },
                      coefficient: { type: "number", decimals: 6 },
                      isSample: { editable: false },
                      isEdited: { editable: false }
                    }
                  }
                }
              }))

          }
        });

        $('#calculationRuleGrid').kendoGrid({
          height: '500px',
          editable: 'inline',
          sortable: true,
          filterable: true,
          selectable: true,
          columns: [
            {
              field: "needleQty",
              title: "针数"
            },
            {
              field: "gear",
              title: "齿轮"
            },
            {
              field: "coefficient",
              title: "系数",
              format: "{0:n6}",
              editor: coefficientEditor
            },
            {
              field: "isSample",
              title: "是否样本"
            },
            {
              field: "isEdited",
              title: "手动修改"
            },
            { command: ["edit"], title: "&nbsp;" }
          ],
          dataSource: {
            data: []
          },

        })

        function coefficientEditor(container, options) {
          $('<input data-bind="value:' + options.field + '"/>')
            .appendTo(container)
            .kendoNumericTextBox({
              decimals: 7,
              format: "n6"
            });
        }

        $('#needleQty').kendoDropDownList({
          filter: "contains",
          dataTextField: "text",
          dataValueField: "value",
          dataSource: [
            { text: "1032", value: "1032" },
            { text: "1056", value: "1056" },
            { text: "1200", value: "1200" },
            { text: "1296", value: "1296" },
            { text: "1320", value: "1320" },
            { text: "1416", value: "1416" },
            { text: "1500", value: "1500" },
            { text: "1596", value: "1596" },
            { text: "1656", value: "1656" },
            { text: "1692", value: "1692" },
            { text: "1740", value: "1740" },
            { text: "1800", value: "1800" },
            { text: "1860", value: "1860" },
            { text: "1872", value: "1872" },
            { text: "1920", value: "1920" },
            { text: "1980", value: "1980" },
            { text: "2064", value: "2064" },
            { text: "2088", value: "2088" },
            { text: "2232", value: "2232" },
            { text: "2268", value: "2268" },
            { text: "2460", value: "2460" },
            { text: "2520", value: "2520" },
            { text: "2592", value: "2592" },
            { text: "2628", value: "2628" },
            { text: "2640", value: "2640" },
            { text: "3000", value: "3000" },
          ]
        });

        $('#gear').kendoDropDownList({
          filter: "startswith",
          dataTextField: "text",
          dataValueField: "value",
          dataSource: [
            { text: "26-67", value: "26-67" },
            { text: "37-56", value: "37-56" },
            { text: "43-50", value: "43-50" },
            { text: "50-43", value: "50-43" },
            { text: "56-37", value: "56-37" },
            { text: "67-26", value: "67-26" }
          ]
        });

      })

      function showAddNewRuleModal() {
        $('#machineModel').val('');
        $('#machineType').val('');
        $('#needleQty').val('');
        $('#gear').val('');
        $('#yarnLength').val('');
        $('#degree').val('');
        $('#needleQty').data('kendoDropDownList').text('');
        $('#gear').data('kendoDropDownList').text('')
        $('#exampleModalCenter').modal('show');


      }

      function addNewRule() {
        var machineModel = $('#machineModel').val();

        var data = {
          machineModel: $('#machineModel').val(),
          machineType: $('#machineType').val(),
          needleQty: $('#needleQty').data('kendoDropDownList').text(),
          gear: $('#gear').data('kendoDropDownList').text(),
          yarnLength: $('#yarnLength').val(),
          degree: $('#degree').val(),
        }

        if (!data.machineModel) {
          return alert('请输入机型...');
        }
        if (!data.machineType) {
          return alert('请选择单双面...');
        }

        if (!data.needleQty) {
          return alert('请选择针数...');
        }

        if (!data.gear) {
          return alert('请选择齿轮...');
        }

        if (!data.yarnLength) {
          return alert('请输入纱长...');
        }

        if (!data.degree) {
          return alert('请输入刻度...');
        }

        $.ajax({
          url: getApiUrl() + '/showby/calculation_rule',
          method: 'POST',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify({
            machineModel: machineModel
          }),
          success: function (e) {
            if (e.data) {
              if (!confirm('机型已经存在，是否继续并覆盖？')) {
                return $('#machineModel').val('')
              }
            }

            $.ajax({
              url: location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/api/add_new_rules',
              method: 'POST',
              contentType: 'application/json',
              dataType: 'json',
              data: JSON.stringify(data),
              success: function (res) {
                $('#machineModelGrid').data('kendoGrid').dataSource.read();
                $('#exampleModalCenter').modal('hide');
              },
              error: function (err) {
                console.log(err.responseText)
              }
            })

          },
          error: function (e) {
            console.log(e.responseText)
          }
        })




      }

      function checkExist(machineModel) {


      }

      function getApiUrl() {
        return location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/api';
      }



    </script>
</body>


</html>